.welcome-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/WelcomePage.jpg');
    background-size: cover;
    background-position: center;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.welcome-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem; /* esto los pega al subtítulo */
}

.button-group {
    display: flex;
    gap: 20px;
}

button.login {
    padding: .75rem 2.5rem;
    font-family: 'Albert Sans', sans-serif;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    color: #000;
    cursor: pointer;
    transition: opacity .25s ease;
}

button.signup {
    padding: .75rem 2.5rem;
    font-family: 'Albert Sans', sans-serif;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: opacity .25s ease;
}

.button-group:hover,
.button-group:focus { opacity: .85; }

